<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Careers | hiring!!!</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <header>
      <img src="https://static.vecteezy.com/system/resources/previews/006/575/001/original/we-are-hiring-free-vector.jpg" height="250" width="600" alt="crowd of wild beast" />

      <section id="navigation">
        <nav>
          <a href="/">Home</a>
          <a href="contact">Contact US</a>
          <a href="careers">Careers</a>
        </nav>
      </section>
    </header>
    <h1>Careers</h1>
    <section>
        <h3>Embeded Software Engineer</h3>
        <p>
            Join the Simba Web Services family and take part in the development of next generation
            products that will define the future of the Cloud.
        </p>
    </section>
    <section>
        <h3>Front End Developer</h3>
        <p>
            We are seeking quantitative-minded individuals with excitement and interest in Web Design, Coding and UX to join our team. This position will be responsible for producing websites, micro-sites, landing pages, and other web assets
        </p>
    </section>
    <section>
        <h3>Human Resource</h3>
        <p>
            The role is to support HR initiatives. The candidate will work with internal stakeholders to develop and implement strategies to improve accessibility across the organization.
        </p>
    </section>
</body>
</html>