<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Contact</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    
    <header>
      <img src="https://cdn.pixabay.com/photo/2016/12/15/12/24/contact-us-1908762__340.png" height="200" width="600" alt="crowd of wild beast" />

      <section id="navigation">
        <nav>
          <a href="/">Home</a>
          <a href="contact">Contact US</a>
          <a href="careers">Careers</a>
        </nav>
      </section>
    </header>
    
    <h1>Conatact</h1>
    <p>Contact the author of this page:</p>

    <address>
    <a href="mailto:hpatel296@myseneca.ca">hpatel296@myseneca.ca</a><br>
    <a href="tel:+13115552368">(311) 555-2368</a>
    </address>
</body>
</html>