<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- set tittle for browser use -->
    <title>Maasai Mara</title>

    <!-- Standardized Meta tags -->
    <meta name="author" content="Harikrishna Patel" />
    <meta name="description" content="..." />
  </head>

  <body>
    <header>
      <img src="https://media.gadventures.com/media-server/dynamic/blogs/posts/dan-audrey/2016/10/Maasai_1_a4al0Mz.jpg" height="400" width="600" alt="crowd of wild beast" />

      <section id="navigation">
        <img src="https://brandeps.com/logo-download/F/Flag-map-of-Kenya-logo-vector-01.svg" width="130" align="center" alt="kenya map logo" />
        <span><em>Kenya The Majestic Nature's Masterpiece</em></span>
        <nav>
          <a href="/">Home</a>
          <a href="contact">Contact US</a>
          <a href="careers">Careers</a>
        </nav>
      </section>
    </header>

    <main>
      <section id="into">
        <h1>Maasai Mara National Game Reserve</h1>
        <p>
          <strong>Maasai Mara</strong> was established in <time datetime="1961">1961</time> by Narok
          County Government has an area of 580 square miles (1,510km<sup>2</sup>) it is a large
          national game reserve located in Narok, Kenya which borders with the
          <a href="https://national-parks.org/tanzania/serengeti"> Serengeti National Park</a> in
          Tanzania. It was named after the ancestral inhabitants of the Maasai people who migrated
          to the area and they live day to day with the nature.<br />
        </p>

        <p>
          Maasai Mara has 6 entry exit gates which open at 6:00am an close at 6:00pm after that
          period there's no permission to enter or exit the reserve and all the game drives must end
          before 6pm in Maasai Mara. If you're planning for night Game drives you will have
          opportunity to watch nocturnal animals (animals most active at night than daytime) such as
          hippos, lions, leopards, porcupines, civet cats, aardvarks, cape hares and white-tailed
          mongoose. Night game drives occur at certain private Mara Conservancies, and they are
          conducted by an authorised guide and a driver. The drive starts at 7pm and must end before
          9pm. For the best view the vehicles used for night drives have powerful lights for clear
          visibility nor they are harmful to animals.
        </p>

      <article>
        <h2>The Big Five</h2>
        Maasai Mara has diverse group of animals and the most famous are the Big Five category which
        consists of:
        <ol>
          <li>Lion</li>
          <li>Elephant</li>
          <li>Rhino</li>
          <li>Leopard</li>
          <li>Buffalo</li>
        </ol>

      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.4625568314573!2d35.14245931522154!3d-1.4937067363100471!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182cf7cda7bff40f%3A0xd8cd2c4993a8070d!2sMasai%20Mara!5e0!3m2!1sen!2sca!4v1667515670975!5m2!1sen!2sca"
        width="300"
        height="250"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </main>

  </body>
</html>