<table border="1">
    <tr>
        <th>Currency</th>
        <th>Country</th>
        <th>Size</th>
    </tr>

    {{#each data}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{min_size}}</td>
    </tr>
    {{/each}}
</table>