<table class="table table-light table-striped table-hover table-borderless">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Currency</th>
      <th scope="col">Country</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{min_size}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>